<h1>All Tasks Are Belong To Us</h1>

<!-- <%= @task_entries %> -->


<% @task_entries.each do |entry| %>
<h3><%= link_to "#{entry.title}", task_path(entry) %></h3>
<p>
  <%= "#{ entry.completion_status ? "Task Completed" : "Task Incomplete." } #{ entry.completion_date.to_s } " %>
</p>

<% end %>

<p>
  Let's add more tasks <a href="/tasks/new" >here</a>!
</p>
